*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,ol,a {
  list-style: none;
  text-decoration: none;
}

img {
  vertical-align: top;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #202020;
  color: #e8e7e3;
  padding-bottom: 100px;
}



